.autocom-box{
    background-color: var(--white-color);
    list-style: none;
    border-radius: 10px;
    margin-top: 2px;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    
}
.autocom-box li{
    padding: 8px 0 8px 16px;
    font-size: 1.1rem;
    color: rgb(107, 104, 104);
    display: none;
}


